<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.osate.analysis.architecture.actionSet"
            label="%actionSet.label"
            visible="true">

         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.semantic"
               label="%menu.semantic.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>

         <menu
               id="menu.arch"
               label="%menu.arch.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>
         
    
       
        
    
         <action
               class="org.osate.pluginsample.actions.DoCheckModel"
               enablesFor="*"
               icon="icons/arinc.gif"
               id="org.osate.pluginsample.CheckModel.action"
               label="Check Model Sample"
               menubarPath="menu.analyses/menu.arch/stuff.grp"
               toolbarPath="arch.toolbar"
               tooltip="Check Model Sample">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aadl"/>
                  </and>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement> 
         </action>

         
      </actionSet>
   </extension>
   
   <extension
   	   point="org.eclipse.ui.perspectiveExtensions">
   	   <perspectiveExtension
   		   targetID="org.osate.ui.perspective.AadlPerspective">
   		   <actionSet
   		 	   id="org.osate.analysis.architecture.actionSet"/>
   	   </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.osate.analysis.architecture.oc1"
            objectClass="java.lang.Object">
         <visibility>
            <or>
               <and>
                  <objectClass name="org.eclipse.core.resources.IFile"/>
                  <objectState name="extension" value="aaxl2"/>
               </and>
               <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
            </or>
         </visibility> 

         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label"
               path="additions">
            <groupMarker name="anal.grp"/>
            <groupMarker name="subMenus.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.architecture.popupMenu.Arch"
               label="%popupMenu.Arch.label"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.architecture.popupMenu.Semantic"
               label="%popupMenu.Semantic.label"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>


         
         <action
               id="org.osate.pluginsample.actions.CheckModel.popupAction"
               label="Check Model - Sample"
               tooltip="Check Model - Sample"
               class="org.osate.pluginsample.actions.DoCheckModel"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Arch/anal.grp"
               enablesFor="1"/>
        
      </objectContribution>

   </extension>

   
</plugin>
